# File specifies which files are to be ignored by the git client

# ####### Python ################
*.pyc

# ####### Python Virtual Env ####
venv/

# ####### PyDev projects ########
*.project
*.pydevproject
*.settings
*.idea

# ##### Jupyter notebooks #######
.ipynb_checkpoints
